<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>酸奶企业动态内容</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href="public/stylesheets/milk-news-content.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<!-- 最顶部快捷条包括登录和注册 -->
	<div class="header">
		<div class="banner">
			<a href="index.html" class="banner-title">华农酸奶</a>
			<span class="milk-theme">梦想的味道</span>
			<div class="login-regist">
				<a href="login-index.html" class="login">登录</a>
				|
				<a href="register-index.html" class="regist">注册</a>
			</div>
		</div>
	</div>
	<div class="container">
		<!-- 右边固定在屏幕边上的联系方式 --> 
		<div class="contact-us">
			<div class="contact-area">
				<a href="contact-us.html">联系我们</a>
			</div>
		</div>
		<div class="news-content-area">
			<h1>酸奶企业动态内容</h1>
			<a href="milk-news.html" class="back-to-lists">Back</a>
			<h2 class="news-title" name="news-title">
				资产公司直属党支部开展纪念建党90周年专题活动
			</h2>
			<div class="news-edit-detail">
				撰写时间：<span class="news-edit-date" name="news-edit-date">2013/2/20</span>
				责任编辑：<span class="news-editor" name="news-editor">张三</span>
			</div>
			<div class="news-content">
				<p class="news-content-font"> 
					为庆祝中国共产党建党90周年，重温党的发展历程，增强党员的党性教育，根据支部工作安排，“七一”前夕，资产公司直属党支部组织全体党员、入党积极分子开展了一系列专题活动。
				</p>
				<p class="news-content-font">
					主要活动内容包括，组织学习胡锦涛总书记“七一”重要讲话；邀请思政部张丰清副教授作《伟大的党 辉煌90年》专题报告；组织参观增城革命烈士公墓；组织观看红色电影《建党伟业》，等等。
				</p>
				<p class="news-content-font">
					通过这些活动，进一步增强了党支部的凝聚力和战斗力，充分发挥其战斗堡垒作用；进一步提高了党员同志的思想政治觉悟，加强了党员同志的党性意识；进一步明确了党员同志，特别是校企管理干部在新时期所肩负的工作使命和社会责任。支部党员纷纷表示，要坚持以科学发展观为指导，在日常工作中以优秀党员的标准严格要求自己，努力起模范带头作用，为企业创造更优秀业绩而作出应有贡献。
				</p>
				<p class="news-content-image">
					<img src="../images/milk-news/001.jpg" alt="酸奶动态图片内容" />
				</p>
				<p class="news-content-image">
					<img src="../images/milk-news/002.jpg" alt="酸奶动态图片内容" />
				</p>
			</div>
		</div>
	</div>
	<div class="footer">
		<p>COPYRIGHT © 2012 - 2013 DESIGNED BY HCier<p>
	</div>
</body>
</html>
